*{
    font-family: 'Inter', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.nav__anchor{
    color: white;
}

ul {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    text-decoration: none;

}

.footer__group {
    display: inline
}

/*NAV*/
.nav__home{
    background-color: #000;
    height: 70px;

    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}

.nav__img {
    width: 50px;
    height: 50px;

    position:relative;
    top: 10px;
    left: 350px
}

.nav__ul{
    margin: 0%;
    display: inline;
    margin-bottom: 20px;

    position: absolute;
    top: 25px;
    right: 350px;

}

.nav__item{
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    display: inline;
}

/*NAV FIN*/

/*HERO*/

.hero__home{
    background-color: #B1DFDB;
    height: 1180px;
    padding-left: 350px;
    padding-top: 450px;
}

.hero__title{
    display: inline;
    font-weight: 800;
    font-size: 50px;

}

.hero__parraph{
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hero__img{
    height: 650px;
    width: 650px;

    position: absolute;
    right: 350px;
    top: 250px;
}

.btn{
    background-color: #00A595;
    display: inline-block;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;

}

/*HERO FIN*/