.banner{
    background-color: white;
    &__complete{
        max-width: 1200px;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        padding: 25px;
        @include margin-laterales (auto, auto);
        margin-bottom: 50px;
    }
    &__text {
        text-align: center;
        font-weight: 600;
        @include padding-laterales (50px, 50px);
    }
    &__title{
        font-size: 18px;
        font-weight: 800;
        color: #00A595;
        text-decoration: none;
    }
    &__logos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img{
        max-width: 200px;
    }
    &__brands{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    @media screen and (max-width: 1024px){
        .banner__complete{
            max-width: 100%;
        }
    }
    @media screen and (max-width: 768px){
        .banner__complete {
            max-width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 20px;
            @include padding-laterales (20px, 20px);
        }
        &__img{
            max-width: 100px;
        }
        &__brands{
            gap: 20px;
        }
    }
    @media screen and (max-width: 425px){
        .banner__complete{
            max-width: 100%;
            grid-template-columns: 1fr;
            @include gap (20px);
            @include padding-laterales (20px, 20px);
        }
        &__img{
            max-width: 200px;
        }
        &__brands{
            display: flex;
            flex-direction: column;
            @include gap (20px);
        }
    }
}