.procesos{
    display: flex;
    background-color: #B1DFDB;
    height: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
    &__complete{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        gap: 50px;
    }
}