.services{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    padding-bottom: 50px;
    @include margin-laterales (auto, auto);
    &__complete{
        display: flex;
        @include gap (20px);
        gap: 25px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 20px;
    }
    &__title{
        font-family: Inter, sans-serif;
        font-weight: 600;
        font-size: 50px;
        margin-bottom: 0;
    }
    &__paragraph{
        font-size: 17px;
        text-align: center;
        @include padding-laterales (20%, 20%);
    }
    &__cards{
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        gap: 30px;
    }
    &__descripciones{
        padding: 15px;
        max-height: 550px;
        width: 400px;
        display: flex;
        background-color: white;
        border-radius: 20px;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.18);
    }
    &__servicio{
        background-color: #B1DFDB;
        height: 30px;
        width: 100%;
        border-radius: 10px;
        @include padding-laterales (20px, 20px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__img{
        height: 20px;
        width: 20px;
        margin-right: 20px;
    }
    &__label{
        font-weight: 600;
        font-size: 18px;
        color: black;
        margin-bottom: 0;
    }
    &__subtitle{
        display: inline-block;
        font-weight: 800;
        font-size: 25px;
        margin-bottom: 0;
    }
    &__descripcion{
        font-size: 15px;
        margin-bottom: 0;
    }
    .btn{
        background-color: #00A595;
        display: inline-block;
        color: white;
        font-weight: 600;
        padding: 20px;
        font-size: 18px;
        border-radius: 8px;
        border: none;
    }
    .btn:hover{
        background-color: #058679;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08);
    }
    .boton{
        color: white;
        border: none;
        text-decoration: none;
    }
    @media screen and (max-width: 768px){
        .services{
            padding: 20px;
            max-width: 720px;
        }
        &__paragraph {
            font-size: 15px;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
        }
        &__cards{
            display: flex;
            flex-direction: column;
            gap: 20px;
            @include padding-laterales (20px, 20px);
        }
        &__descripciones{
            width: 100%;
        }
    }
    @media screen and (max-width: 320px){
        .services{
            max-width: 300px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__servicio{
            max-height: 30px;
        }
        &__descripciones{
            max-width: 300px;
            max-height: 700px;
        }
        &__complete{
            justify-content: flex-start;
            padding-bottom: 0px;
            margin-bottom: 20px;
        }
        &__title{
            font-size: 30px;
            @include padding-laterales (20px, 20px);
        }
        &__cards{
            flex-direction: column;
            align-items: center;
        }
        &__paragraph {
            @include padding-laterales (20px, 20px);
            margin-bottom: 0;
            text-align: start;
        }
    }
}