.warnings{
    max-width: 1200px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    &__cards{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__pagos{
        max-width: 450px;
    }
    .card-body{
        background-color: #B1DFDB;
        border: solid var(--bs-card-border-width) 1px;
        border-radius: 5px;
    }
}